body {
        background-color: #000;
        color: #fff;
        margin: 0;
}

.cardshape {
        color: #ddd;
        padding: 20px;
        background: #222;
        margin-top: -30px;
        margin-left: 3%;
        margin-right: 3%;
}

.largeheader {
        text-align: center;
        padding: 80px 80px 100px 80px;
        background: #111;
}

.smallheader {
        height: 10%;
}

.seperationbar {
        height: 60px;
        width: 100%;
        background-color: pink;
        margin: 40px 0;
}

/*.image {
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: inherit;
        z-index: -2;
        pointer-events: none;
        background-size: cover;
        background-position: 50%;
}*/
.image::before {
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: inherit;
        z-index: -2;
        pointer-events: none;
        background-size: cover;
        background-position: 50%;
}

.section {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        justify-content: center;
        margin: 2%;
}

.lrimage {
        align-content: flex-start;
        align-items: flex-start;
        background: rgba(0, 0, 0, 0.0);
        border-radius: 0;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0px 40px 0px;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0 0 0 0;
        width: 1100px;
        max-width: calc(100% - 80px);
}

.mainlayout {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
}
